flask==3.1.1
flask-cors==5.0.1
gunicorn==23.0.0
openfeature-sdk==0.7.*
openfeature-provider-flagd==0.2.*
typing_extensions>=4.0

opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation-flask==0.50b0
opentelemetry-instrumentation-sqlite3==0.50b0
opentelemetry-instrumentation-logging==0.50b0
